* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(to top, #37265e 0%, #c449a1 100%);
}

.calculatrice {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 5px rgb(255, 255, 255);
}

.ecran {
    width: 100%;
    background-color: rgb(138, 180, 190);
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}

.touches {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    grid-gap: 7px;
}

button {
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #929292;
    font-size: 18px;
    box-shadow: 0 3px #a8a8a8;
}

button:active {
    box-shadow: 0 1px #a8a8a8;
    transform: translateY(2px);
}

button[data-key="13"] {
    grid-column: span 2;
    font-size: 35px;
    background-color: #36e700;
    font-weight: bold;
    color: white;
}

button[data-key="8"] {
    background-color: #ff0000;
    font-weight: bold;
    color: white;
}
